/*
메인색상
#2D31FA - 진한파랑
#5D8BF4 - 연한파랑
#ededed - 연한회색
#171717 - 진한회색(기본폰트색)
*/

.join-wrap {
  margin-top: 50px;
}

.join-title > h3 {
  position: relative;
  padding: 0 0 10px 0;
  font-size: 50px;
  color: #171717;
  font-weight: 500;
  border-bottom: 2px solid #ededed;
  text-align: center;
}

.join-content {
  width: 70%;
  margin: 50px auto;
}

.join-agree-explain {
  color: #bababa;
  width: 90%;
  height: 200px;
  overflow: auto;
  margin: 15px auto;
  padding: 20px;
  font-size: 13px;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.agree-required {
  color: #ff4c4c;
}

.checks {
  margin: 30px 10px;
}

.checks input[type="checkbox"] {
  display: none;
}

.checks input[type="checkbox"] + label:before {
  content: "";
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  float: left;
}

.join-agree-wrap {
  display: block;
}

.checks input[type="checkbox"]:checked + label:before {
  background: url(/public/img/check.png) no-repeat 50% 50% #2d31fa;
  border-color: #2d31fa;
}

.join-agree-btn {
  text-align: center;
}

.join-agree-btn > div {
  width: 30%;
  display: inline-block;
  margin: 50px 0;
}

.join-agree-btn > div:first-child {
  margin-right: 30px;
}

.all-check {
  font-size: 18px;
  font-weight: bold;
}

.joinFrm-wrap {
  display: none;
}

.joinFrm-content {
  width: 500px;
  margin: 0 auto;
}

.join-input-wrap {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  border-bottom: 1px solid #ededed;
}

.join-input-wrap > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-input-wrap > div > .label {
  width: 25%;
}

.join-input-wrap > div > .input {
  width: 75%;
}

input[type="radio"] {
  display: none;
}

.label {
  font-size: 18p;
}

.join-essential {
  color: #ff4c4c;
}

.input input[type="radio"] + label {
  width: calc(100% / 2);
  cursor: pointer;
  height: 45px;
  float: left;
  border: 1px solid #5d8bf4;
  box-sizing: border-box;
  text-align: center;
  color: #5d8bf4;
  line-height: 45px;
}

input[type="radio"]:checked + label {
  background-color: #5d8bf4;
  color: #fff;
}

.join-profileImg {
  display: inline-block;
  width: 200px;
  border: 1px solid #5d8bf4;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #5d8bf4;
  border-radius: 5px;
}

.join-imgUp-btn {
  display: none;
}

.join-profileImg-pre > img {
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
}

.check-msg {
  font-size: 0.8em;
  width: 75%;
  align-self: flex-end;
  color: #ff4c4c;
}

.check-blue {
  font-size: 0.8em;
  width: 75%;
  align-self: flex-end;
  color: #2d31fa;
}
