/*
메인색상
#2D31FA - 진한파랑
#5D8BF4 - 연한파랑
#ededed - 연한회색
#171717 - 진한회색(기본폰트색)
*/

.join-wrap {
  margin-top: 50px;
}

.join-title > h3 {
  position: relative;
  padding: 0 0 10px 0;
  font-size: 50px;
  color: #171717;
  font-weight: 500;
  border-bottom: 2px solid #ededed;
  text-align: center;
}

.join-content {
  width: 70%;
  margin: 0 auto;
}

.join-agree-explain {
  width: 90%;
  height: 200px;
  overflow: auto;
  margin: 15px auto;
  padding: 20px;
  font-size: 13px;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.agree-required {
  color: #ff4c4c;
}
