.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: relative;
}

.profile-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50px;
}

.profile-info {
  width: 80%;
}
.profile-top {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.profile-top > *:not(.img) {
  margin-left: 10px;
}
.profile-info {
  width: 90%;
  margin-top: 30px;
  padding: 0 15px;
}
.profile-top .name {
  font-size: 20px;
  font-weight: 700;
}
.profile-info .intro {
  margin-top: 10px;
  font-size: 15px;
}
.profile-wrap .like {
  font-size: 14px;
  margin-left: auto;
  margin-right: 10px;
  background-color: rgba(217, 167, 93, 0.15);
  color: rgb(217, 167, 93);
  font-weight: 700;
  border-radius: 45px;
  height: 30px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.profile-wrap .modifyAndLogout {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.profile-wrap .like > #temp {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.profile-wrap .prefer {
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
}
.profile-wrap .prefer > span {
  background-color: #eee;
  border-radius: 45px;
  font-size: 12px;
  line-height: 300%;

  padding: 3px 10px;
  margin-right: 10px;
}
.profile-mid {
  margin-top: 20px;
}

.profile-tab-menu {
  text-align: center;
  margin: 30px 0;
  height: 50px;
}

.tabMenu > a {
  float: left;
  width: 50%;
  height: 50px;
  border: 1px solid #2d31fa;
  color: #2d31fa;
  line-height: 50px;
}

.clicked > a {
  background-color: #2d31fa;
  color: white;
}

.profile-sub-content {
  width: 95%;
  margin: 0 auto;
}

/* MyFeed */

.myFeed-content {
  width: 100%;
  display: block;
}

.myFeed-item {
  width: calc(100% / 3);
  float: left;
  padding-right: 5px;
  cursor: pointer;
  position: relative;
}

.myFeed-item > img {
  width: 100%;
}

.myfeed-content-more-btn > button {
  margin: 30px 0;
}

.myFeedBubble {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
}

.noFeed {
  margin: 100px;
  text-align: center;
  font-size: 15px;
}

/* MyMeet */

.myMeet-content {
  width: 100%;
  margin: 50px 0;
}

.myMeet-content-title {
  font-size: 30px;
  font-weight: bold;
  color: #2d31fa;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  width: 91%;
}

.myMeet-content-mine {
  display: flex;
}

.myMeet-content-mine > button {
  width: 9%;
  display: flex;
}

.myMeet-content-title > img {
  transform: rotate(90deg);
  height: 28px;
}

.myMeet-content-item {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.myMeetJoined-item {
  float: left;
  display: flex;
  width: calc(100% / 2);
  align-items: center;
  margin-bottom: 20px;
}

.myMeetJoined-img {
  width: 26%;
}

.myMeetJoined-img > img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.myMeetJoined-info {
  width: 74%;
  padding: 0 30px 0 15px;
}

.myMeetJoined-info > div {
  display: flex;
  justify-content: space-between;
}

.myMeetJoined-title {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 18px;
}

.myMeetJoined-captain {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.myMeetJoined-total {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.myMeetJoined-captain > img,
.myMeetJoined-total > img {
  margin-right: 5px;
}

.noMeet {
  margin: 50px;
  text-align: center;
  font-size: 15px;
}
