.afterMeet-all-wrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 90px 20px 20px 20px;
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #f4f4f4;
}
.meetMain-blank {
  min-height: 120px;
}
.afterMeet-main-wrap {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.afterMeet-main-thumbnail,
.afterMeet-main-info {
  box-sizing: border-box;
  display: block;
  float: left;
  width: calc(100% / 2);
}

.afterMeet-thumbnail-img {
  width: 400px;
  height: 400px;
}

.afterMeet-thumbnail-img > img {
  width: 100%;
  height: 100%;
  /* 비율맞추면서 꽉채우게 , 짤려나오지 않게*/
  object-fit: contain;
}

.afterMeet-main-info {
  box-sizing: border-box;
  height: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.afterMeet-info-host {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.afterMeet-info-host > .aferMeet-host-img,
.aferMeet-host-name,
.afer-host-like {
  float: left;
}

.aferMeet-host-img {
  width: 40px;
  height: 40px;
}

.aferMeet-host-img > img {
  border-radius: 50%;
  width: 100%;

  /* 비율맞추면서 꽉채우게 , 짤려나오지 않게*/
  object-fit: contain;
}

.aferMeet-host-name {
  padding-left: 20px;
  height: 40px;
}

.aferMeet-host-name > a {
  display: block;
  height: 100%;
  line-height: 35px;
}

.afer-host-like {
  float: right;
  margin-right: 30px;
}

.afer-host-like > span {
  font-size: 35px;
  color: red;
}

.afterMeet-info-title {
  margin-bottom: 10px;
}

.afterMeet-info-sub-content {
  margin-bottom: 10px;
}

.afterMeet-sub-navi {
  width: 100%;
  margin: 40px auto;
}

.afterMeet-sub-navi > ul {
  overflow: hidden;
}

.afterMeet-sub-navi > ul > li {
  display: block;
  float: left;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ededed;
}

.afterMeet-sub-navi > ul > li > a {
  display: block;
  width: 100%;
}

.afterMeet-sub-navi > ul > li > a.active-side {
  background-color: rgb(78, 77, 75);
  color: #fff;
}

/* 모임 후기 리스트*/
.meetImfo-reviw {
  overflow: hidden;
}

.meetInfo-reviewList-wrap {
  overflow: hidden;
  float: left;
  width: calc(100% / 4);
  margin-bottom: 20px;
}

.afterMeet-thumbnail-img > img {
  width: 100%;
  height: 100%;
}

.meetInfo-reviewList-member {
  overflow: hidden;
}

.meetInfo-review {
  overflow: hidden;
  border-bottom: 2px solid #ededed;
}

.meetInfo-reviewList-member-id {
  float: left;
  width: 90%;
  box-sizing: border-box;
  padding-left: 10px;
}

.meetInfo-reviewList-member-img {
  float: left;
  width: 10%;
  box-sizing: border-box;
}

.meetInfo-reviewList-member-img > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* 모임 소개 */
.meetInfo-content {
  margin-bottom: 20px;
  border-bottom: 2px solid #ededed;
}

/*그룹 회원 목록*/
.meetMemberList-all-wrap {
  width: 100%;
  margin: 0 auto;
}

.meetMemberList-wrap > tbody tr {
  border: 1px solid #ededed;
  border-collapse: collapse;
}

.meetMemberList-wrap {
  overflow: hidden;
  border: 1px solid #ededed;
  border-collapse: collapse;
}

.meetMemberList-img {
  float: left;
  width: 5%;
  padding: 10px;
}

.meetMemberList-img > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.meetMemberList-name {
  float: left;

  box-sizing: border-box;
  padding-left: 15px;
  line-height: 35px;
}

.meetMemberList-btn-wrap {
  float: left;

  overflow: hidden;
}

.meetMemberList-btn-wrap {
  width: 100%;
}

.meetMemberList-btn-wrap > button {
  display: block;
  float: left;
  width: calc(100% / 3 - 20px);
  margin: 0px 10px;
}

/*그룹 글 작성*/
.meetChat-all-wrap {
  padding-top: 30px;
  background-color: aliceblue;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.meetChat-all-wrap {
  padding: 10px 30px;
  box-sizing: border-box;
}

.meetChat-input-form-wrap {
  width: 100%;
}

.meetChat-btn {
  width: 10%;
  display: block;
  float: left;
  padding: 0px 20px;
  box-sizing: border-box;
}

.meetChat-btn > button {
  width: 100px;
}

.meetChat-span {
  padding-left: 30px;
}

.meetChat-span > span {
  color: #ccc;
}
.meetChat-chat-wrap {
  border: 1px solid #999;

  padding: 5px;
  font-size: 13px;
  color: #333;
}
.meetChat-chat-wrap .meetChat-inner {
  background-color: #acc2d2;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
  height: 400px;
  box-sizing: border-box;
}
.meetChat-chat-wrap .meetChat-item {
  margin-top: 15px;
}
.meetChat-chat-wrap .meetChat-item:first-child {
  margin-top: 0;
}
.meetChat-chat-wrap .meetChat-item .meetChat-img {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
}
.meetChat-chat-wrap .meetChat-item .meetChat-img > img {
  width: 100%;
  height: 100%;
}
.meetChat-chat-wrap .meetChat-box {
  display: inline-block;
  max-width: 300px;
  position: relative;
  margin-left: 10px;
}
.meetChat-chat-wrap .meetChat-box:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 9px;
  border-top: 0px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
}
.meetChat-chat-wrap .meetChat-box .meetChat-msg {
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  text-align: left;
  font-size: 15px;
  white-space: pre-line;
}
.meetChat-chat-wrap .meetChat-box .meetChat-time {
  font-size: 11px;
  color: #999;
  position: absolute;
  right: -150px;
  bottom: 0;
}
.meetChat-chat-wrap .meetChat-box .meetChat-writer {
  position: absolute;
  bottom: 45px;
}
.meetChat-chat-wrap .meetChat-item.mymsg {
  text-align: right;
}
.meetChat-chat-wrap .meetChat-item.mymsg .meetChat-box:before {
  left: auto;
  right: -8px;
  border-left: 8px solid #fee600;
  border-right: 0px;
}
.meetChat-item.mymsg .meetChat-box .meetChat-time {
  right: auto;
  left: -150px;
}
.meetChat-item.mymsg .meetChat-box .meetChat-msg {
  background-color: #fee600;
}
/*
.meetChat-chat-wrap {
  min-height: 300px;
  max-height: 500px;
  overflow: hidden;
  background-color: #dee4f8;
  padding: 15px;
}
.meetChat-chatList-wrap {
  overflow: hidden;
  padding: 20px;
}
.meetChat-chat {
  text-align: center;
  line-height: 300px;
}
.meetChat-chat-img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 20px;
  float: left;
}
.meetChat-chat-img > img {
  width: 100%;
}
*/
/*챗 CSS*/
.meetChat-textEditor {
  background-color: #fff;
  float: left;
}
.meetChat-chat-writer > span {
  font-weight: 900;
  padding: 0px 20px 0px 10px;
  display: block;
  float: left;
}
.meetChat-chat-writer > sub {
  font-size: 9px;
  display: block;
  float: left;
  padding-top: 7px;
}
.meetChat-textEditor > textarea {
  white-space: pre;
  width: 1000px;
  height: 125px;
  resize: none;
  padding: 10px;
}

.meetChat-chat-writer {
  margin-bottom: 5px;
  overflow: hidden;
}

.meetChat-chat-content {
  padding: 5px 20px 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  white-space: pre-line;
  width: 80%;
  word-break: break-all;
}
.meetChat-chat-content > #text {
}

.meetChat-input-form-wrap {
  height: 170px;
}
.aaaaaaaa {
  display: block;
  float: right;
  width: 50%;
  padding-left: 30px;
}
.chat-ul {
  display: block;
  float: left;
  width: 50%;
  margin-right: 1px;
}
/* 캘린더 */
.meetCalendar-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.meetCalendar {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
}
.meetCalendar > .react-calendar {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.meetCalendar .react-calendar__navigation {
  border-radius: 10px 10px 0 0;
}
.meetCalendar .react-calendar__navigation > button,
.meetCalendar .react-calendar__navigation > button > span {
  font-size: 16px;
  font-weight: 600;
}
.meetCalendar .react-calendar__tile--now {
  background-color: #3d40e57d;
}
.meetCalendar .react-calendar__navigation,
.meetCalendar .react-calendar__tile--active,
.meetCalendar .react-calendar__navigation button:enabled:hover,
.meetCalendar .react-calendar__navigation button:enabled:focus,
.meetCalendar .react-calendar__navigation button:disabled,
.meetCalendar .react-calendar__tile--now:enabled:hover,
.meetCalendar .react-calendar__tile--active:enabled:hover,
.meetCalendar .react-calendar__tile--active:enabled:focus {
  background-color: #3d40e5;
}
.meetCalendar .react-calendar__tile--now:enabled:hover > abbr,
.meetCalendar .react-calendar__tile--active:enabled:focus > abbr,
.meetCalendar .react-calendar__tile--now > abbr,
.meetCalendar .react-calendar__tile--active > abbr,
.meetCalendar .react-calendar__navigation > button,
.meetCalendar .react-calendar__navigation > button > span {
  color: #fff;
}
.meetCalendar .meetCalendar .react-calendar__navigation {
  border-radius: 10px 0px 0 0;
}
.meetCalendar > .react-calendar__tile {
  padding: 35px 7px;
}
.meetCalendar-add-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.meetCalendar-add-btn > span {
  border-radius: 100px;
  background-color: #2d30faa6;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}
.meetCalendar-modal {
  text-align: center;
}
.meetCalendar-modal-title {
  font-size: 22px;
  font-weight: 600;
}
.meetCalendar-modal > .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.meetCalendar-modal-date {
  margin: 10px 0;
}
.meetCalendar-modal-date > div {
  text-align: left;
}
input[type="date"] {
  border: none;
  position: relative;
  width: 100%;
  padding: 5px;
  background-color: #2d30fa0e;
  border-radius: 5px;
  text-align: center;
  font-size: 100%;
  margin: 10px 0;
}
.meetCalendar-calTitle > input {
  width: 100%;
  border: none;
  background-color: #2d30fa0e;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  margin-top: 40px;
}
.meetCalendar-modal textarea {
  width: 100%;
  border: none;
  background-color: #2d30fa0e;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  height: 150px;
  overflow: auto;
  resize: none;
}
.meetCalendar-modal .close {
  cursor: pointer;
}
.calendar-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  height: 20px;
}
.calendar-notification > div::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff5e5e;
}
.meetCalendar-schedule-wrap {
  width: 48%;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 10px;
}
.meetCalendar-schedule-date {
  height: 45px;
  line-height: 45px;
  width: 100%;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  background-color: #ff5e5e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.meetCalendar-schedule-content {
  min-height: 380px;
}
.meetCalendar-schedule-content > div {
  padding: 10px;
}
.meetCalendar-schedule-content > div > button {
  width: 50px;
}
.meetCalendar-schedule-content > div > div:first-child {
  font-weight: 600;
  font-size: 18px;
}
.meetCalendar-schedule-content > div > div:first-child > button {
  font-weight: 400;
  font-size: 12px;
  background-color: #ff5e5e;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
}
.meetCalendar-schedule-content > div > div:first-child > button:last-child {
  background-color: #aaa;
}
.meetCalendar-schedule-content > div > div:last-child {
  font-size: 14px;
  margin-left: 15px;
}

/* 모임 메인 */
.meet-navi {
}

.meet-navi > ul {
  overflow: hidden;
}

.meet-navi > ul > li {
  display: block;

  float: left;
  width: (100% / 3 - 20px);
  margin-right: 20px;
}

.meet-navi > ul > li > a {
  width: 100%;
  display: block;

  line-height: 40px;
  background-color: #5d8bf4;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.meet-navi > ul > li > a.active-side {
  background-color: #2d31fa;
}

.quill {
  height: 100%;
  box-sizing: border-box;
}
