/* afterMeet.css 참고 */

.meetViewTop {
    height: 400px;
    overflow: hidden;
}

.meetThumNail-box {
    /* 모임 상세보기 썸네일 */
    width: 400px;
    height: 400px;
    float: left;
}

.meetThumNail-box>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* 비율맞추면서 꽉채우게 , 짤려나오지 않게*/
    object-fit: contain;
}

.meetMainInfo-area {
    float: left;
}

.meetMainInfo-area>* {
    padding: 10px;
}

.meetView-meetTitle {
    /* 모임 상세보기 제목 선택자 */
    font-size: 20px;
    font-weight: bold;
}

.meetView-area>div:first-child {
    /* 각 에리어 제목 선택자 */
    font-size: 24px;
    font-weight: bold;
}