/* 
#051367
#2D31FA
#5D8BF4
#DFF6FF
 */

.meetInfo-content-area {
  /* border: 1px solid #ccc; */
  border-top: 1px solid #ccc;

  /* margin: 20px 0; */
  padding: 20px 10px;
}

.meetInfo-content-title {
  /* 모임 소개 선택자 */
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: bold;
  padding: 10px 0;
  /* color: #5d8bf4; */
}

.meetViewContentD {
  /* 모임설명 선택자 */
  margin: 10px 0;
  /* height: 300px; */
  min-height: 300px;
  /* overflow: auto; */
  background-color: #e1eaff;
}

.meetInfo-map {
  margin: 40px 0px;
}

.meetInfo-meetAddr-wrap {
}

.meetInfo-meetAddr-wrap > div:nth-child(2) {
  /* 카카오지도, 주소, 상세주소를 감싸는 div 선택자 */
  overflow: hidden;
  width: 800px;
  margin: 40px auto;
  /* padding-left: 20px; */
  border: 3px solid #5d8bf4;
  border-radius: 5px;
}

.meetInfo-meetAddress1 {
  /* 모임 meetAdress1 선택자 */
  font-weight: bold;
  padding: 10px 10px;

  /* border-bottom: 1px solid #5d8bf4; */
  border-top: 1px solid #5d8bf4;
}

.meetInfo-meetAddress2 {
  /* 모임 meetAdress2 선택자 */
  padding: 10px 10px;
  color: #606060;
}

.meetInfo-meetPrepareList {
  overflow: hidden;
  margin: 20px 0px;
}

.meetInfo-meetPrepare {
  /* 준비물선택자 #2d30fa89 */
  background-color: #2d30fa1b;
  border: 1px solid #5d8bf4;
  /* min-width: 80px; */
  border-radius: 20px;
  padding: 3px 10px;
  display: inline-block;
  font-weight: bold;
  margin: 3px 5px;
  text-align: center;
  font-size: 14px;
}

.meetInfo-cap-btn-wrap {
  overflow: hidden;
}

.meetInfo-cap-btn-wrap > button:first-child {
  width: 80%;
  margin-right: 50px;
}

.meetInfo-cap-btn-wrap > button:last-child {
  width: 10%;
  background-color: rgb(221, 44, 44);
}

.meetJoinWait {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #5d8bf4;
  border: 1px solid #5d8bf4;
  border-radius: 5px;
  padding: 10px 0;
}
