.meetLike-wrap {
    /* 좋아요, 좋아요 숫자를 감싸는 div선택자 */
    /* 아이콘과 숫자를 동일선상에 정렬 */
    float: left;

}

.aferMeet-host-img:hover {
    cursor: pointer;
}

.MeetList-like {
    /* 좋아요 하트 선택자 */
    margin: 0px 5px;

}

.meetLikeCount {
    color: #ccc;



}