.meetSettingFrm-wrap {
    /* 임시구분 패딩 */
    padding-top: 50px;
    width: 800px;
}
.meetSettingFrm-wrap>div{
    /* 각 에리어 선택자 카테고리, 제목, 썸네일 ... */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
.meetSettingFrm-wrap>div>label{
    width: 30%;
    text-align: center;
}
.jwInput{
    width: 70%;
}
.meetSettingFrm-wrap>div>input{
    width: 70%;
}
