/* ReviewWriteFrm */
.review-title {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin: 50px 0;
  position: relative;
}
.review-title > span {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 40px;
  cursor: pointer;
}
.review-write-wrap .review-top {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.review-write-wrap .profileImg {
  width: 64px;
  height: 64px;
  background-color: gray;
  border-radius: 45px;
}
.review-write-wrap .profileImg > img {
  width: 100%;
}
.review-write-wrap textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
.review-write {
  width: 100%;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
}
.review-bottom {
  display: flex;
}
.review-bottom .plus {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 1px solid gainsboro;
}
.review-write-wrap .reviewImg {
  background-color: gainsboro;
  margin-right: 5px;
  width: 100px;
  height: 100px;
}
.review-write-wrap .swiper-pagination {
  display: none;
}
.review-write-wrap .feed-write-img img {
  width: 100%;
  height: 327px;
  background-color: #eee;
  margin-right: 30px;
  object-fit: cover;
}
/* ******************************* */
.review-all-wrap {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.review-wrap {
  margin-bottom: 20px;
  width: 100%;
}

.review-wrap .review-top {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-wrap .more-btn {
  font-size: 15px;
  font-weight: 600;
}
.review-wrap .star-wrap {
  display: flex;
  align-items: center;
}
.review-wrap .star {
  font-size: 30px;
}
.review-wrap .star-rating {
  margin-left: 15px;
  font-size: 20px;
}
.review-wrap .review-component {
  width: 230px;
}

.review-wrap .review-thumb {
  width: 230px;
  height: 230px;
  background-color: gainsboro;
}
.review-wrap .review-profile {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  /* padding-left: 5px; */
}
.review-wrap .review-name {
  padding-left: 15px;
  font-weight: 600;
}
.review-wrap .review-img {
  width: 40px;
  height: 40px;
  border-radius: 45px;
  background-color: gray;
  box-sizing: border-box;
  /* display: block; */
}
.review-wrap .review-component .simple {
  white-space: pre-wrap;
  text-overflow: ellipsis;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/* ----------------------------- */
.review-wrap .swiper {
  width: 100%;
  height: 350px;
}
.review-wrap .swiper-button-next,
.review-wrap .swiper-button-prev {
  top: 35%;
  background-color: white;
  color: black;
  border-radius: 45px;
  width: 30px;
  height: 30px;
  padding: 0;
}
.review-wrap .swiper-button-prev:after,
.review-wrap .swiper-button-next:after {
  font-size: 13px;
}
.review-wrap .swiper-slide {
  margin: 0;
}
.review-wrap .swiper-pagination-bullets {
  display: none;
}
.review-none {
}
