/*
메인색상
#2D31FA - 진한파랑
#5D8BF4 - 연한파랑
#ededed - 연한회색
#171717 - 진한회색(기본폰트색)
*/
/* 사이드 메뉴 */
.admin-content {
  display: flex;
  justify-content: space-evenly;
}

.current-content {
  width: 900px;
  margin-top: 50px;
}

.my-content-wrap {
  width: 700px;
  margin: 0 auto;
}

.my-content-title {
  padding: 30px 0px;
  color: #2d31fa;
}

/* 공지 등록 */
.admin-menu-title {
  font-weight: 900;
  margin: 30px 0px;
}

.board-frm-top {
  padding-bottom: 20px;
}

.board-info {
  width: 900px;
}

.board-info-tbl {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  width: 100%;
  padding: 10px 0px;
}

.board-info-tbl tr>td:first-child {
  width: 150px;
  padding: 10px 20px;
}

.board-info-tbl tr>td:nth-child(2) {
  width: 90px;
}

.board-info-tbl tr>td:nth-child(2)>label {
  padding-left: 30px;
}

.board-info-tbl tr>td:last-child>input {
  width: 500px;
  height: 40px;
}

.selectOption>select {
  width: 150px;
  height: 40px;
}

/* .board-btn-box {
  padding: 20px 0px;
}

.board-btn-box>button {
  width: 150px;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: ns-eb;
  border: none;
  outline: none;
  
} */
.board-btn-box {
  text-align: center;
}

.board-btn-box > div {
  width: 30%;
  display: inline-block;
  margin: 50px 0;
}

.board-btn-box> div:first-child {
  margin-right: 30px;
}


/* 텍스트 에디터 높이 */
.board-content-box .ql-container {
  height: 400px;
}

.board-content-box {
  margin: 10px 0px;
}

/* 회원 목록 */
.admin-member-tbl-box>table {
  width: 100%;
  border-spacing: 0;
}

.admin-member-tbl-box>table td {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.admin-member-tbl-box>table>thead td {
  border-bottom: 2px solid #5d8bf4;
  border-top: 2px solid #5d8bf4;
  color: #5d8bf4;
}

.admin-paging-wrap {
  margin: 50px;
}

.admin-member-search-wrap {
  margin: 20px;
  overflow: hidden;
}

.admin-member-search-wrap> :first-child {
  width: 80%;
  float: left;
  padding-right: 40px;
}

.admin-member-search-wrap> :last-child {
  width: 15%;
  float: left;
}

.selectGrade>select{
  width:100px;
  padding: 5px;
  border:1px solid #5d8bf4;
  font-weight: 900; 
  height: 40px;
  border-radius: 3px;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
-moz-text-align-last: center;
 
}

.selectGrade>button{
  margin-left: 10px;
  width: 30%;
}
/* 공지 목록 */
.admin-board-tbl>table {
  width: 100%;
  border-spacing: 0;
}

.admin-board-tbl td {
  text-align: center;
  padding: 10px 5px;
}

.admin-board-tbl td.title-td {
  text-align: center;
}

.admin-board-tbl td.title-td>div {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-board-tbl>table>thead td {
  border-bottom: 2px solid #5d8bf4;
  border-top: 2px solid #5d8bf4;
  color: #5d8bf4;
  font-family: ns-b;
}

.admin-board-tbl>table>tbody td {
  border-bottom: 1px solid #ededed;
}

/* 모임 조회  */
.admin-meet-tbl-box>table {
  width: 100%;
  border-spacing: 0;
}

.admin-meet-tbl-box>table td {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.admin-meet-tbl-box>table>thead td {
  border-bottom: 2px solid #5d8bf4;
  border-top: 2px solid #5d8bf4;
  color: #5d8bf4;
}

/* 신고 목록 */
.admin-report-tbl-box>table {
  width: 100%;
  border-spacing: 0;
}

.admin-report-tbl-box>table td {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.admin-report-tbl-box>table>thead td {
  border-bottom: 2px solid #5d8bf4;
  border-top: 2px solid #5d8bf4;
  color: #5d8bf4;
}

.admin-paging-wrap {
  margin: 50px;
}

.report-list-content>div{
  margin-top: 30px;
  text-align: center;
}
/* 온도내리기 이동 버튼 */
.reportlist-btn-box {
  text-align: center;
}

.reportlist-btn-box > div {
  width: 30%;
  display: inline-block;
  margin: 50px 0;
}

.reportlist-btn-box> div:first-child {
  margin-right: 30px;
}