.header {
  border-bottom: 1px solid gainsboro;
  width: 100%;
}
.header-inner {
  margin: 0 auto;
  overflow: hidden;
  height: 65px;
  box-sizing: border-box;
  padding-top: 10px;
  width: 1200px;
  margin: 0 auto;
}
.header-inner > * {
  float: left;
}
.header-left {
  width: 25%;
  float: left;
}
.header-left > * {
  float: left;
}
.header-mid {
  width: 50%;
}
.header-left .logo {
  width: 50%;
}
.header .logo img {
  width: 90%;
  margin-top: 5px;
}
.header .material-icons {
  font-size: 30px;
  color: #171717;
  margin: 0 5px;
}
.header .icon-explain {
  font-size: 10px;
  color: #171717;
  text-align: center;
}

.header .searchFrm {
  border-radius: 15px;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
  cursor: inherit;
  height: 40px;
  padding-left: 15px;
  display: block;
  margin: 4px;
}
.icons {
  float: right;
  overflow: hidden;
}
.icons > div {
  display: inline-block;
}
#category {
  font-size: 40px;
  padding-top: 5px;
  color: #171717;
}

/* SWAL */
.swal2-actions .swal2-confirm {
  background-color: #4b38ff;
}
.swal2-actions .swal2-cancel {
  background-color: #bbb;
}
.swal2-icon.swal2-warning {
  border-color: #ff5e5e;
  color: #ff5e5e;
}
.swal2-warning .swal2-icon-content {
  color: #ff5e5e;
}
.swal2-popup.swal2-modal {
  width: 25em;
}
.swal2-actions .swal2-styled {
  font-size: 0.9em;
}
