.ReactModal__Overlay {
  z-index: 1;
}
.modal-all-wrap {
  width: 800px;
}
.modal-title > h1 {
  padding-bottom: 10px;
}
.modal-tbl {
  width: 100%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid#ccc;
  margin-bottom: 10px;
  border-collapse: collapse;
}
.modal-tbl > tbody > tr {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
}
.modal-tbl > tbody > tr > td:first-child {
  height: 50px;
  background-color: #dee4f8;
  padding-left: 20px;
}
.modal-tbl > tbody > tr > td:last-child {
  padding-left: 20px;
  box-sizing: border-box;
}
.modal-tbl-textarea {
  height: 300px;
  width: 500px;
  margin: 10px 0px;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
}
.modal-btn-wrap {
  margin-top: 20px;
}
.modal-btn-wrap > button {
  width: calc(100% / 2);
}

/* MoreModal */
.more-modal-wrap {
  position: relative;
  width: 280px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal-select {
  overflow: hidden;
}
.modal-select > div {
  padding: 20px;
  float: left;
}
.modal-select button {
  display: block;
  width: 60px;
}
.modal-select .material-icons {
  font-size: 3em;
  color: #171717;
  margin-bottom: 10px;
  /* color: #3d40e5; */
}
#report-td {
  height: 400px;
}
.report-textEditor {
  height: 100%;
}
