.ReactModal__Overlay {
  z-index: 1;
}
.modal-all-wrap {
  width: 600px;
}
.modal-title > h1 {
  padding-bottom: 20px;
}
.modal-tbl {
  width: 100%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid#ccc;
  margin-bottom: 10px;
  border-collapse: collapse;
}
.modal-tbl > tbody > tr {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
}
.modal-tbl > tbody > tr > td:first-child {
  height: 50px;
  background-color: #dee4f8;
  text-align: center;
  font-weight: 600;
}
.modal-tbl > tbody > tr > td:last-child {
  padding-left: 20px;
  box-sizing: border-box;
}
.modal-tbl-textarea {
  height: 200px;
  width: 100%;
  margin: 10px 0px;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  border: 1px solid #ddd;
}
.modal-btn-wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.modal-btn-wrap > button {
  width: 49%;
}

.report-tbl-select {
  width: 100%;
  border: 1px solid #ddd;
  height: 35px;
  padding-left: 5px;
  font-size: 14px;
}
.report-sup {
  color: red;
}
/* MoreModal */
.more-modal-wrap {
  position: relative;
  width: 280px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.modal-select {
  overflow: hidden;
}
.modal-select > div {
  padding: 20px;
  float: left;
}
.modal-select button {
  display: block;
  width: 60px;
}
.modal-select .material-icons {
  font-size: 3em;
  color: #171717;
  margin-bottom: 10px;
  /* color: #3d40e5; */
}
#report-td {
  height: 400px;
}
.report-textEditor {
  height: 100%;
}
