.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  padding: 15px 5px;
  color: white;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.5rem;
  font-weight: 600;
}
.swiper-pagination-bullet {
  background-color: white;
}

.swiper-img-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-img-box button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.swiper-img-box button > span {
  color: #fff;
}
