.feed-wrap {
  width: 1200px;
  margin: 0 auto;
}

/* 피드 리스트 */
.feed-title {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin: 50px 0;
}
.feed-list-btn {
  text-align: right;
}
.feed-list-btn .btn {
  width: 150px;
}
.feed-list-content-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -23px;
}
.feed-list-content:nth-child(3n) {
  margin-right: -20px;
}
.feed-list-content {
  width: calc(100% / 3 - 40px);
  box-sizing: border-box;
  margin: 30px 24px;
  position: relative;
}
.feed-list-top {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.feed-list-top > div {
  float: left;
}
.feed-list-top::after {
  content: "";
  display: block;
  clear: both;
}
.feed-list-profile {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}
.feed-list-profile > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50px;
}
.feed-list-info {
  margin-left: 10px;
}
.feed-list-info > div:first-child {
  font-weight: 600;
  font-size: 16px;
}
.feed-list-info > div:last-child {
  font-size: 12px;
}
.feed-list-img {
  margin: 10px 0;
}
.feed-list-img img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  background-color: #eee;
}
.feed-list-content .swiper {
  width: 100%;
  height: 370px;
}
.feed-list-more-btn {
  position: absolute;
  top: 15px;
  right: -12px;
  cursor: pointer;
}
.feed-list-more-btn > span {
  font-size: 30px;
}
.feed-list-text > div {
  white-space: pre-wrap;
  cursor: pointer;
}
.feed-list-content-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.feed-list-content-btn > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.feed-list-content-btn > div > .material-icons-outlined,
.feed-list-content-btn > div > .material-icons {
  cursor: pointer;
}
.feed-list-content-btn > div > span:last-child {
  margin-left: 3px;
}
.no-image {
  position: relative;
}
.no-image > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: 900;
  color: #ccc;
}

/* 피드 글쓰기 */
.feed-write-wrap {
  margin-bottom: 100px;
}
.feed-write-wrap textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
.file-box > .feed-label {
  display: block;
  width: 150px;
}
.file-box input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.feed-write-img {
  margin: 30px 0;
}
.feed-write-wrap > .feed-write-img img {
  width: 100%;
  height: 327px;
  background-color: #eee;
  margin-right: 30px;
  object-fit: cover;
}
.feed-write-img > .swiper {
  height: 327px;
}
.feed-write-wrap .swiper-pagination-bullets {
  display: none;
}

/* COMMENT */
.commment-modal-wrap {
  width: 100%;
  height: 100%;
}
.commment-modal-wrap .feed-list-top {
  align-items: flex-start;
}
.feed-title {
  position: relative;
}
.feed-title > span {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 40px;
  cursor: pointer;
}
.feed-comment-wrap {
  height: 445px;
  overflow: auto;
}
.feed-comment {
  margin: 10px 0;
}
.feed-list-info > div,
.feed-list-info > div > span {
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}
.feed-comment-detail {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.feed-list-info .feed-comment-text {
  margin-left: -5px;
  font-size: 14px;
  min-width: 250px;
  max-width: 460px;
}
.feed-comment-text {
  display: inline-block;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.feed-comment-detail > .material-icons-outlined {
  cursor: pointer;
  font-size: 16px;
}
.comment-click-btn {
  overflow: hidden;
}
.comment-click-btn > div {
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.feed-comment-write {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #aaa;
  bottom: 0;
  left: 0;
  width: 100%;
}
.feed-comment-re-wrap {
  margin: 10px;
  margin-left: 30px;
  background-color: #eee;
  border-radius: 5px;
}
.feed-comment-re-wrap .feed-comment {
  padding: 10px;
}
.feed-comment-re {
  background-color: #aaa;
  text-align: center;
}
.feed-comment-re > span {
  color: #fff;
}
.feed-comment-re > span:last-child {
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.feed-comment-write > .feed-comment-text {
  width: 90%;
  position: relative;
}
.feed-comment-text > input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 16px;
  padding-right: 35px;
}
.feed-comment-write > .feed-comment-text > button {
  right: 15px;
  top: 15px;
  position: absolute;
  border: none;
  cursor: pointer;
}
.commment-modal-wrap > .feed-title {
  margin-top: 0;
  margin-bottom: 20px;
}
