<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "kr.co.weple.admin.model.dao.AdminDao">
	<select id="memberListCount" resultType="int">
		select count(*) from member
	</select>
	<select id="memberList" resultType="member">
		select * from
			(select rownum as rnum, m.* from
				(select * from member order by member_grade)m
			)
		where rnum between #{start} and #{end}	
	</select>
	<update id="changeMemberGrade">
		update member set member_grade=#{memberGrade} where member_no = #{memberNo}
	</update>
	
	<!-- 모임 조회 Count -->
	<select id="meetListCount" resultType="int">
		select count(*) from meet 
	</select>
	<select id="meetList" resultType="meet">
		select * from
			(select rownum as rnum, m.* from
				(select * from meet order by meet_no desc)m
			)
		where rnum between #{start} and #{end}	
	</select>
	<update id="changeMeetType">
		update meet set meet_type=#{meetType} where meet_no = #{meetNo}
	</update>
	<select id="memberListBySubId" resultType="member">
		select * from
			(select rownum as rnum, m.* from
				(select * from member where member_id  like '%'||#{memberId}||'%' order by member_grade)m
			)
		where rnum between #{pi.start} and #{pi.end}	
	</select> 
	<select id="selectMemberbySubId" resultType="member">
		select * from member where member_id like '%'||#{memberId}||'%'
	</select>
	<select id="memberListCountbySubId" resultType="int">
		select count(*) from member where member_id like '%'||#{memberId}||'%'
	</select>
	<select id="boardListCount" resultType="int">
		select count(*) from board 
	</select>
	<select id="boardList" resultType="board">
		select * from
			(select rownum as rnum, b.* from
				(select * from board order by board_no desc)b
			)
		where rnum between #{start} and #{end}	
	</select>
	<select id="reportListCount" resultType="int">
		select count(*) from report 
	</select>
	<select id="reportList" resultType="report">
		SELECT * FROM
			(SELECT ROWNUM AS RNUM, R.* FROM
    			(SELECT 
    				*
    				FROM REPORT R
    			JOIN REPORT_CATEGORY RC ON (R.REPORT_CATEGORY_NO = RC.REPORT_CATEGORY_NO)
   				ORDER BY 1 DESC)R)
			WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<update id="changeReportStatus">
		update report set report_type=#{reportType} where report_no = #{reportNo}
	</update>
</mapper>
