<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.weple.feed.model.dao.FeedDao">
	<insert id="insertFeed">
		insert into feed values(feed_Seq.nextval,#{feedWriter},#{feedContent},to_char(sysdate,'yyyy.mm.dd'))
		<selectKey resultType="int" keyProperty="feedNo" order="AFTER">
	 		select max(feed_no) from feed
	 	</selectKey>
	</insert>
	<insert id="insertFImage">
		insert into fimage values (fimage_seq.nextval,#{feedNo},#{fImageName})
	</insert>
	<select id="totalCount">
		select count(*) from feed
	</select>
	<!-- feed 리스트 조회 resultMap -->
	<select id="selectFeedList" resultMap="getImage">
		select *
		from (select rownum as rnum, f.*
			from (select * from feed order by 1 desc)f)
		where rnum between #{start} and #{end}
	</select>
	<select id="selectImageList" resultType="fImage">
		select * from fImage where feed_no = #{feedNo}
	</select>
	<resultMap id="getImage" type="Feed">
		<result column="feed_no" property="feedNo" />
		<result column="feed_writer" property="feedWriter" />
		<result column="feed_content" property="feedContent" />
		<result column="feed_date" property="feedDate" />
		<collection
			property="imageList"
			select="selectImageList"
			column="feed_no"
			javaType="java.util.List"
			ofType="fImage"
		/>
	</resultMap>
	<select id="selectFeedFile" resultType="fImage">
		select * from fimage
			where fimage_no in
			<foreach collection="array" open="(" close=")" separator="," item="fImageNo">
				#{fImageNo}
			</foreach>
	</select>
	<delete id="deleteFeedFile">
		delete from fimage
			where fimage_no in
			<foreach collection="array" open="(" close=")" separator="," item="fImageNo">
				#{fImageNo}
			</foreach>
	</delete>
	<update id="updateFeed">
		update feed set feed_content = #{feedContent} where feed_no = #{feedNo}			
	</update>
	<delete id="deleteFeed">
		delete from feed where feed_no = #{feedNo}
	</delete>
	
	<!-- 댓글 -->
	<insert id="commentInsert">
		insert into fcomment values(fcomment_seq.nextval,#{feedNo},#{fCommentContent},to_char(sysdate,'yyyy.mm.dd'),#{fCommentWriter},#{crnNo})
	</insert>
	<select id="commentList" resultType="fComment">
		select * from fcomment where feed_no=#{feedNo} order by fcomment_no
	</select>
	<delete id="deleteComment">
		delete from fcomment where fcomment_no = #{fCommentNo}
	</delete>
	<select id="like" resultType="fLike">
		select * from flike where feed_no=#{feedNo} and member_no=#{memberNo}
	</select>
</mapper>
