<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.weple.feed.model.dao.FeedDao">
	<insert id="insertFeed">
		insert into feed values(feed_Seq.nextval,#{feedWriter},#{feedContent},to_char(sysdate,'yyyy.mm.dd'))
		<selectKey resultType="int" keyProperty="feedNo" order="AFTER">
	 		select max(feed_no) from feed
	 	</selectKey>
	</insert>
	<insert id="insertFImage">
		insert into fimage values (fimage_seq.nextval,#{feedNo},#{fImageName})
	</insert>
	<select id="totalCount">
		select count(*) from feed
	</select>
	<!-- feed 리스트 조회 resultMap -->
	<select id="selectFeedList" resultMap="getImage">
	select *
	from (
		select rownum as rnum, f.*
		from (
			select feed_no, feed_writer, feed_content, feed_date,
		        (select member_image from member m where m.member_id = f.feed_writer) member_image,
		        nvl((select count(feed_no) from flike l where l.feed_no = f.feed_no),0) total_like,
       			nvl((select count(feed_no) from fcomment c where c.feed_no = f.feed_no),0) total_comment
			from feed f 
			order by feed_no desc
		    ) f
	)
	where rnum between #{start} and #{end}
	</select>
	<select id="selectImageList" resultType="fImage">
		select * from fImage where feed_no = #{feedNo}
	</select>
	<resultMap id="getImage" type="feed">
		<result column="feed_no" property="feedNo" />
		<result column="feed_writer" property="feedWriter" />
		<result column="feed_content" property="feedContent" />
		<result column="feed_date" property="feedDate" />
		<result column="member_image" property="memberImage" />
		<result column="total_like" property="totalLike" />
		<result column="total_comment" property="totalComment" />
		<collection
			property="imageList"
			select="selectImageList"
			column="feed_no"
			javaType="java.util.List"
			ofType="fImage"
		/>
	</resultMap>
	<select id="one" resultMap="getImage">
		select 
			feed_no, feed_writer, feed_content, feed_date,
		    (select member_image from member m where m.member_id = f.feed_writer) member_image
		from feed f where feed_no=#{feedNo} 
	</select>
	<select id="selectFeedFile" resultType="fImage">
		select * from fimage
			where fimage_no in
			<foreach collection="array" open="(" close=")" separator="," item="fImageNo">
				#{fImageNo}
			</foreach>
	</select>
	<delete id="deleteFeedFile">
		delete from fimage
			where fimage_no in
			<foreach collection="array" open="(" close=")" separator="," item="fImageNo">
				#{fImageNo}
			</foreach>
	</delete>
	<update id="updateFeed">
		update feed set feed_content = #{feedContent} where feed_no = #{feedNo}			
	</update>
	<delete id="deleteFeed">
		delete from feed where feed_no = #{feedNo}
	</delete>
	<select id="like" resultType="fLike">
		select * from flike where feed_no=#{feedNo} and member_no=#{memberNo}
	</select>
	<insert id="insertLike">
		insert into flike values(#{feedNo},#{memberNo})
	</insert>
	<delete id="deleteLike">
		delete from flike where feed_no=#{feedNo} and member_no=#{memberNo}
	</delete>
	
	<!-- 댓글 -->
	<insert id="commentInsert">
		insert into fcomment values(fcomment_seq.nextval,#{feedNo},#{fCommentContent},to_char(sysdate,'yyyy.mm.dd'),#{fCommentWriter},#{crnNo})
	</insert>
	<select id="commentList" resultType="fComment">
		select 
	        fcomment_no, feed_no, fcomment_content, fcomment_date, fcomment_writer, fcomment_ref_no,
	        (select member_image from member m where m.member_id = f.fcomment_writer) member_image,
	        nvl((select count(fcomment_no) from fcomment_like l where l.fcomment_no = f.fcomment_no),0) total_comment_like
		from fcomment f
		where feed_no=#{feedNo}
		order by feed_no desc
	</select>
	<delete id="deleteComment">
		delete from fcomment where fcomment_no = #{fCommentNo}
	</delete>
	<select id="commentLike" resultType="fLike">
		select * from fcomment_like where fcomment_no=#{fCommentNo} and member_no=#{memberNo}
	</select>
	<insert id="commentInsertLike">
		insert into fcomment_like values(#{fCommentNo},#{memberNo})
	</insert>
	<delete id="commentDeleteLike">
		delete from fcomment_like where fcomment_no=#{fCommentNo} and member_no=#{memberNo}
	</delete>
	<select id="totalCountLC" resultType="feed">
		select f.*,
		    nvl((select count(feed_no) from flike l where l.feed_no = f.feed_no),0) total_like,
		    nvl((select count(feed_no) from fcomment c where c.feed_no = f.feed_no),0) total_comment
		from feed f
		where feed_no=#{feedNo}
	</select>
</mapper>
