<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.weple.meet.model.dao.MeetDao">
	<!-- 내가 개설한 모임 리스트 출력 Count -->
	<select id="totalCount" resultType="int">
		select count(*) from meet
		where meet_type =1
	</select>
	<select id="selectMyMeetList" resultType="meet">
		SELECT * FROM
		(SELECT
		ROWNUM AS RNUM, M.* FROM
		(SELECT
		*
		FROM MEET
		WHERE MEET_TYPE = 1
		ORDER BY 1
		DESC)M)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<select id="enrollMemberList" resultType="int">
		select count(*) from
		follower where follower_status=0 and meet_no = #{meetNo}
	</select>
	<select id="selectEnrollMemberList" resultType="follower">
		SELECT * FROM
		    (SELECT ROWNUM AS RNUM, F.* FROM
		        (SELECT
			         MEMBER_ID,
			        MEMBER_GENDER,
			        MEMBER_IMAGE,
			        MEMBER_LIKE,
			        FOLLOWER_STATUS,
			        MEET_NO,
			        MEMBER_NO
			    FROM FOLLOWER
			    JOIN MEMBER USING (MEMBER_NO)
		        WHERE FOLLOWER_STATUS = 0 AND MEET_NO = #{meetNo}
		        ORDER BY 1 DESC)F)
		WHERE RNUM BETWEEN #{start} AND #{end}
		
	</select>

	<!-- 모임생성 -->
	<insert id="createMeet">
		INSERT INTO MEET VALUES (
		MEET_SEQ.NEXTVAL,
		#{meetDate},
		#{meetTitle},
		#{meetContentS},
		#{meetContentD},
		#{meetTotal}, 
		#{meetMargin}, 
		#{meetPrepare},
		2, 
		'주소1',
		'주소2',
		36,
		126, 
		#{meetThumbNail},
		1,
		#{meetCaptain}

		)
	</insert>
	<!-- 모임 카테고리 메뉴 조회 -->
	<select id="smallCategoryList" resultType="category">
		select * from category where CATEGORY_REF_NO=#{categoryNo}
	</select>
	<!-- 모임 리스트 조회 -->
	<!-- <select id="selectCircleList" resultType="meet">
		SELECT * FROM
			(SELECT ROWNUM AS RNUM, M.* FROM
			    (SELECT * 
			    FROM MEET
			    WHERE MEET_TYPE = 1
			    ORDER BY 1 DESC)M)
			WHERE RNUM BETWEEN #{start} AND #{end}
	</select> -->
	<select id="selectCircleList" resultType="meet">
		SELECT * FROM
		    (SELECT ROWNUM AS RNUM, M.* FROM
		        (SELECT * 
		        FROM MEET
		        JOIN CATEGORY ON ( MEET_CATEGORY = CATEGORY_NO)
		        WHERE MEET_TYPE = 1 AND CATEGORY_REF_NO = #{meetCategory}
		        ORDER BY 1 DESC)M)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<select id="categoryMeetList" resultType="meet">
		SELECT * FROM
		    (SELECT ROWNUM AS RNUM, M.* FROM
		        (SELECT * 
		        FROM MEET
		        JOIN CATEGORY ON ( MEET_CATEGORY = CATEGORY_NO)
		        WHERE MEET_TYPE = 1 AND CATEGORY_NO = #{meetCategory}
		        ORDER BY 1 DESC)M)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<!-- 모임번호를 받아 모임을 select -->
	<select id="selectOneMeet" resultType="meet">
		SELECT * FROM MEET WHERE MEET_NO = #{meetNo}
	</select>
	<!-- 멤버아이디를 받아 멤버 조회 -->
	<select id="selectOneMember" resultType="member">
		select * from member where member_id = #{memberId}
	</select>
	
	
	<select id="meetMemberList" resultType="int">
		select count(*) from follower where follower_status=1 and meet_no = #{meetNo}
	</select>
	<select id="selectMeetMemberList" resultType="follower">
		SELECT * FROM
		    (SELECT ROWNUM AS RNUM, F.* FROM
		        (SELECT
			         MEMBER_ID,
			        MEMBER_GENDER,
			        MEMBER_IMAGE,
			        MEMBER_LIKE,
			        FOLLOWER_STATUS,
			        MEET_NO,
			        MEMBER_NO
			    FROM FOLLOWER
			    JOIN MEMBER USING (MEMBER_NO)
		        WHERE FOLLOWER_STATUS = 1 AND MEET_NO = #{meetNo}
		        ORDER BY 1 DESC)F)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<update id="updateEnrollMember">
		update follower set follower_status=1 where member_NO=#{memberId}
	</update>
	
	<!-- 마감임박 모임 조회 -->
	<select id="meetMargin" resultType="meet">
	<![CDATA[ 
	select * 
	from (select Meet_no, MEET_THUMBNAIL, meet_title, meet_total, meet_margin,
	    ROUND(NVL((select avg(NVL(review_star, 0)) 
	        from review r 
	        where r.meet_no = m.meet_no),0),1) review_star,
	        (select count(meet_no)
	        from review r
	        where r.meet_no = m.meet_no) review_count 
	    from meet m where meet_type = 1 order by meet_margin desc) 
	where rownum<=12 order by meet_margin desc,review_star desc
	]]>
	</select>
	<select id="meetChatList" resultType="chat">
		SELECT 
	        CHAT_NO,
	        CHAT_CONTENT,
	        MEMBER_ID,
	        MEET_NO,
	        TO_CHAR(CHAT_DATE,'""YYYY"년"MM"월"DD"일" AMHH:mm:SS')as CHAT_DATE,
	        MEMBER_IMAGE
	    FROM CHAT
	    JOIN MEMBER USING(MEMBER_ID)
	    WHERE MEET_NO = #{meetNo}
	</select>
	<!--메인페이지에 인기순 모임조회 -->
	<select id="meetPopular" resultType="meet">
	<![CDATA[ 
	select * 
	from (select meet_no, meet_thumbnail, meet_title, meet_total, meet_margin,
	    ROUND(NVL((select avg(NVL(review_star, 0))
	        from review r
	        where r.meet_no = m.meet_no),0),1) review_star,
	     (select count(meet_no)
	        from review r
	        where r.meet_no = m.meet_no) review_count 
	    from meet m where meet_type = 1 order by review_star desc, review_count desc) 
	where rownum<=12
	]]>
	</select>
	<!--메인페이지에 최신순 모임조회 -->
	<select id="meetNew" resultType="meet">
	<![CDATA[ 
	select * 
	from (select meet_no, meet_thumbnail, meet_title, meet_total, meet_margin,
	    ROUND(NVL((select avg(NVL(review_star, 0))
	        from review r
	        where r.meet_no = m.meet_no),0),1) review_star,
	     (select count(meet_no)
	        from review r
	        where r.meet_no = m.meet_no) review_count 
	    from meet m where meet_type = 1 order by meet_date desc) 
	where rownum<=12
	]]>
	</select>
	<!-- 내모임 추방 -->
	<delete id="deleteMember">
		 DELETE FROM FOLLOWER WHERE MEMBER_NO = #{memberNo}
	</delete>
	<!-- 모임 내 회원 호감도 -->
	<update id="memberLike">
		UPDATE MEMBER SET MEMBER_LIKE= #{changeMemberLike} WHERE MEMBER_ID = #{memberId}
	</update>
</mapper>
