<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.weple.meet.model.dao.MeetDao">
	<select id="totalCount" resultType="int">
		select count(*) from meet
		where meet_type =1
	</select>
	<select id="selectMyMeetList" resultType="meet">
		SELECT * FROM
		(SELECT ROWNUM AS RNUM, M.* FROM
		(SELECT
		MEET_NO,
		MEET_TITLE,
		MEET_CONTENT_S,
		MEET_CATEGORY,
		MEET_THUMBNAIL
		FROM MEET
		WHERE MEET_TYPE = 1
		ORDER BY 1 DESC)M)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<select id="enrollMemberList" resultType="int">
		select count(*) from follower where follower_status=0 and meet_no = #{meetNo}
	</select>
	<select id="selectEnrollMemberList" resultType="follower">
		SELECT * FROM
		    (SELECT ROWNUM AS RNUM, F.* FROM
		        (SELECT
			         MEMBER_ID,
			        MEMBER_GENDER,
			        MEMBER_IMAGE,
			        MEMBER_LIKE,
			        FOLLOWER_STATUS,
			        MEET_NO,
			        MEMBER_NO
			    FROM FOLLOWER
			    JOIN MEMBER USING (MEMBER_NO)
		        WHERE FOLLOWER_STATUS = 0 AND MEET_NO = #{meetNo}
		        ORDER BY 1 DESC)F)
		WHERE RNUM BETWEEN #{start} AND #{end}
		
	</select>
	
	<!-- 모임생성 -->
	<insert id="createMeet">
		MEET_SEQ.NEXTVAL,
		'2023-10-06',
		#{meetTitle},
		#{meetContentS},
		#{meetContentD},
		#{meetTotal}, --정원
		#{meetMargin}, --남은 인원
		#{meetPrepare},
		3, --카테고리
		'주소1', --주소
		'주소2', --상세주소
		36, --위도
		126, --경도
		'썸네일', --썸네일
		0, --모임승인 검수중
		'test99' --모임장
	</insert>
	<select id="meetMemberList" resultType="int">
		select count(*) from follower where follower_status=1 and meet_no = #{meetNo}
	</select>
	<select id="selectMeetMemberList" resultType="follower">
		SELECT * FROM
		    (SELECT ROWNUM AS RNUM, F.* FROM
		        (SELECT
			         MEMBER_ID,
			        MEMBER_GENDER,
			        MEMBER_IMAGE,
			        MEMBER_LIKE,
			        FOLLOWER_STATUS,
			        MEET_NO,
			        MEMBER_NO
			    FROM FOLLOWER
			    JOIN MEMBER USING (MEMBER_NO)
		        WHERE FOLLOWER_STATUS = 1 AND MEET_NO = #{meetNo}
		        ORDER BY 1 DESC)F)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
</mapper>
