<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.weple.member.model.dao.MemberDao">
	<select id="selectOneMember" resultType="member">
		select * from member where member_id=#{memberId}

	</select>
		
	<select id="categoryList" resultType="category">
		select * from category where category_ref_no is null
	</select>
	
	<select id="subCategoryList" resultType="category">
		select * from category where category_ref_no is not null
	</select>
	
	<select id="subCategory" resultType="category">
		select * from category where category_ref_no=#{categoryNo}
	</select>
	
	<insert id ="insertMember">
		insert into member values(member_seq.nextval,#{memberId},#{memberName},#{memberPw},#{memberEmail},#{memberPhone},#{memberBirth},#{memberGender},#{memberImage},36.5,1,#{memberCategory},1)
	</insert>
	
	<select id="selectReportOption" resultType="reportCategory">
		SELECT * FROM  REPORT_CATEGORY WHERE REPORT_TYPE=#{reportType} order by 1 
	</select>
	
	<update id="changePw">
		update member set member_pw=#{memberPw} where member_id=#{memberId}
	</update>
	
	<update id="changeInfo">
		update member set 
			member_email = #{memberEmail},
			member_phone = #{memberPhone},
			member_birth = #{memberBirth},
			member_image = #{memberImage},
			member_category = #{memberCategory}
		where member_no = #{memberNo}
	</update>
	<insert id="insertReport">
		 INSERT INTO REPORT VALUES(REPORT_SEQ.NEXTVAL,#{reportType},#{reportItemNo},#{reportContent},#{reportedMember},1,#{reportCategoryNo},#{reportMember},TO_CHAR(SYSDATE,'YYYY-DD-MM'))
	</insert>
	
	<select id="totalCount">
		select count(*) from feed where feed_writer=#{memberId}
	</select>
	
	<select id="selectMyFeedList" resultMap="getImage">
		select *
		from (select rownum as rnum, f.*
			from (select * from feed where feed_writer=#{memberId} order by 1 desc)f)
		where rnum between #{start} and #{end}
	</select>
		<select id="selectImageList" resultType="fImage">
		select * from fImage where feed_no = #{feedNo}
	</select>
	<resultMap id="getImage" type="Feed">
		<result column="feed_no" property="feedNo" />
		<result column="feed_writer" property="feedWriter" />
		<result column="feed_content" property="feedContent" />
		<result column="feed_date" property="feedDate" />
		<collection
			property="imageList"
			select="selectImageList"
			column="feed_no"
			javaType="java.util.List"
			ofType="fImage"
		/>
	</resultMap>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="member">
		select * from member where member_name=#{memberName} and member_email=#{memberEmail}
	</select>
	
	<select id="findPw" resultType="member">
		select * from member where member_id=#{memberId} and member_name=#{memberName} and member_email=#{memberEmail}
	</select>
	
	<!-- 내가 가입한 모임 가져오기 -->
	<select id="meetJoined" resultType="meet">
		select * from meet where meet.meet_no in(select meet_no from follower where member_no=#{memberNo} and follower_status=1)
	</select>
	
	<!-- 내가 개설한 모임 가져오기 -->
	<select id="myMeet" resultType="meet">
		select * from meet where meet_captain=#{memberId}
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="delete">
		delete from member where member_id=#{memberId}
	</delete>
	
	<!--메인페이지에 선호카테고리 조회 -->
	<select id="getMemberCategory" resultType="String">
		select member_category from member where member_id = #{memberId}
	</select>
	<!-- 리뷰에서 모임원인지 확인 -->
	<select id="isMember" resultType="follower">
		select * from follower where meet_no = #{meetNo} and member_no = (select member_no from member where member_id = #{memberId})
	</select>
	
	<!-- 회원 등급 가져오기 -->
	<select id="getMemberGrade" resultType="int">
		select member_grade from member where member_id=#{memberId}
	</select>
	
	<!-- 남이보는 프로필 멤버 정보 가져오기 -->
	<select id="getMemberInfo" resultType="member">
		select * from member where member_id=#{memberId}
	</select>
	
	<!-- 찜한 모임 목록 가져오기 -->
	<select id="meetLiked" resultType="meet">
		select * from meet where meet.meet_no in(select meet_no from wish_list where member_no=#{memberNo})
	</select>
</mapper>
