<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.weple.member.model.dao.MemberDao">
	<select id="selectOneMember" resultType="member">
		select * from member where member_id=#{memberId}

	</select>
		
	<select id="categoryList" resultType="category">
		select * from category where category_ref_no is null
	</select>
	
	<select id="subCategory" resultType="category">
		select * from category where category_ref_no=#{categoryNo}
	</select>

</mapper>
