<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.weple.member.model.dao.MemberDao">
	<select id="selectOneMember" resultType="member">
		select * from member where member_id=#{memberId}
	</select>	
	<select id="totalCount" resultType="int">
		select count(*) from member
	</select>
	<select id="memberList" resultType="member">
		select * from
			(select rownum as rnum, m.* from
				(select * from member order by member_grade)m
			)
		where rnum between #{start} and #{end}	
	</select>
	<update id="changeMemberGrade">
		update member set member_grade=#{memberGrade} where member_no = #{memberNo}
	</update>
</mapper>
